<app-header></app-header>

<div class="card mb-3">
    <img class="card-img-top" src="../assets/caption.jpg" alt="Card image cap" height="400">
    <div class="card-body">
      <h5 class="card-title">Trip id :{{trip.idTrip}}</h5>
      <p class="card-text">Description :{{trip.program}} </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <a href="/tripmanage">
           
            
    <button type="button" class="btn btn-secondary">Back</button>

   
  </a>
