<div class="container">
  <h3 mat-dialog-title>Add new Trip</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Object</mat-label>
        <mat-select [(ngModel)]="data.object" name="date" required>
          <mat-option value="VISIT"  name="object" > VISIT</mat-option>
          <mat-option value="SEMENAR"  name="object" > SEMENAR</mat-option>
        </mat-select>     
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput  class="form-control" placeholder="Destination" [(ngModel)]="data.destination"  name="destination" required pattern="^[a-zA-Z]+$" ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput  class="form-control" id="program" placeholder="Program" [(ngModel)]="data.program" name="program"  required  pattern="^[a-zA-Z]+$"></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <!--Contains mat-hint for characters count and has maxLengt set-->
    
    <div class="form">
      <mat-form-field color="accent">
      <input placeholder="Departure Date" matInput  type="date" name="departureDate" id="arrivalDate" [(ngModel)]="data.departureDate" class="form-control" required>
        <mat-error *ngIf=>{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
      <input placeholder="Arrival Date" matInput type="date" name="arrivalDate" id="arrivalDate" [(ngModel)]="data.arrivalDate" class="form-control" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
<mat-form-field color="accent">
  <mat-label>User Name  </mat-label>
  <mat-select [(ngModel)]="userid" name="date" required>
    <mat-option *ngFor="let user of usersList" [value]="user.id"  name="userid" >
      {{user.username}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>

</mat-form-field>
    </div>
  
    <div mat-dialog-actions>
      <button mat-button  [disabled]="formControl.invalid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>

   
  </form>
</div>

