<main>

  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Make a claim.
                <span>Your complaint is very important to us.</span>

              </h1>
              <p class="lead  text-white">Your trust and loyalty are precious to us. If you are not satisfied, let us know your reason for complaint directly from your Customer Area.</p>
              <div class="btn-wrapper">
                <div class="col-md-12">

                  <button  class="btn btn-block btn-default" (click)="open(classic1, 'modal_mini', 'sm')">
                    Creat your complaint now !
                  </button>
                  <ng-template #classic1 let-c="close" let-d="dismiss">
                    <div class="modal-content">
                      <div class="modal-body p-0">
                        <div class="card bg-secondary shadow border-0">
                          <div class="card-header bg-white pb-3">
                            <div class="text-muted text-center mb-3">
                              <big>Want to talk with us?</big>
                            </div>
                          </div>
                          <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                              <small>Your complaint is very important to us.</small>
                            </div>

                            <form role="form" #f="ngForm" >
                              <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                                <div class="input-group input-group-alternative">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                  </div>
                                  <input class="form-control" placeholder="Email" type="email" [(ngModel)]="reclam.email"
                                         placeholder="{{loggedInUser?.email}}" readonly >
                                </div>

                              </div>
                              <span ><p class="btn-icon-label"> Type of complaint :</p></span>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"  [(ngModel)]="reclam.type" value=0>
                                <label class="form-check-label" for="flexRadioDefault1">
                                  ABOUT TRAVEL
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault"  [(ngModel)]="reclam.type" value=1>
                                <label class="form-check-label" for="flexRadioDefault1">
                                  SANITAIRE
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"  [(ngModel)]="reclam.type"  value=2 checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                  MONEY POCKET
                                </label>
                              </div>

                <br>
                              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                                <div class="input-group input-group-alternative">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-archive-2"></i></span>
                                  </div>
                                  <input class="form-control" placeholder="Object" type="text" [(ngModel)]="reclam.object" required >
                                </div>
                              </div>
                              <div class="form-group mb-4">
                                <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80" placeholder="Type a message..."
                                          [(ngModel)]="reclam.message" required ></textarea>
                              </div>

                              <div class="text-center">
                                <button type="button" class="btn btn-primary my-4" (click)="c('Close click')" (click)="addReclamation(reclam)"   >SEND MESSAGE</button>
                              </div>

                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <div class="row">
    <div class="col-24">
      <div class="card-columns">
        <!-- 4 of these -->
        <div class="card" *ngFor="let reclamation of listReclamation , let i = index ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="row row-grid">
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-12">
                  <button class="btn btn-danger" (click)="toggleData()">❌❌❌ Not interested ❌❌</button>
                  <hr>
                  <h6 class="text-primary text-uppercase">Type of complaint : {{reclamation.type}}</h6>
                  <div>

                    <span class="badge badge-pill badge-primary ">Object of complaint: {{reclamation.object}}</span>
                    <span class="badge badge-pill badge-primary ">
                      Number of views : {{reclamation.seenNmbr}} </span>

                    <span class="badge badge-pill badge-primary ">
                      </span>

                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-7">
                      <button class="btn btn-block btn-primary mb-3" (click)="open(classic,'' , '')"
                              (click)="seen(reclamation.idComplaint)"  (click)="nbrrlike(reclamation.idComplaint)"  >
                        Show more
                      </button>
                      <hr>

                      <button class="like-button" (click)="addLike(reclamation.idComplaint)" >
                        Like  | <span class="like-counter"> {{reclamation.nmbrs}} </span>
                      </button>

                   </div>
                        <ng-template #classic let-c="close" let-d="dismiss" >
                          <div class="modal-content">
                            <div class="modal-header">
                              <h6 class="modal-title" id="modal-title-default">Message :</h6>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">×</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>{{reclamation.message}}  </p>
                              <p> Cordially .</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger  ml-auto" data-dismiss="modal" (click)="c('Close click')" >Close</button>
                            </div>
                          </div>
                        </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
</main>
