<div class="container">
    <h3 mat-dialog-title>Add new EVENT</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
      <div class="form">
        <mat-form-field color="accent">
          <mat-label>Object</mat-label>
          <mat-select [(ngModel)]="data.eventType" name="eventType" required>
            <mat-option value="MEETING"  name="object" > MEETING</mat-option>
            <mat-option value="ONPERSON"  name="object" > ONPERSON</mat-option>
          </mat-select>     
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <textarea matInput  class="form-control" placeholder="Destination" [(ngModel)]="data.description"  name="description" required pattern="^[a-zA-Z]+$" ></textarea>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <textarea matInput  class="form-control" id="link" placeholder="link" [(ngModel)]="data.link" name="link"  required  pattern="^[a-zA-Z]+$"></textarea>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <!--Contains mat-hint for characters count and has maxLengt set-->
      
    
      <div class="form">
        <mat-form-field color="accent">
        <input placeholder=" Date" matInput type="date" name="date" id="date" [(ngModel)]="data.date" class="form-control" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      
    
      <div mat-dialog-actions>
        <button mat-button  [disabled]="formControl.invalid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
  
     
    </form>
  </div>
  
  