
	
    <br>
    
    
    <div class="wrapper">
        

		<section class="companies-info">
            <div class="search-bar">
                <form>
                  <input type="text" name="search" placeholder="Search...">
                  <button type="submit"><i class="la la-search"></i></button>
                </form>
              </div><!--search-bar end-->
			<div class="container">
                
				<div class="company-title">
					<h3>All Profiles</h3>
				</div><!--company-title end-->
				<div class="companies-list">
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor='let profile of listProfiles'>
							<div class="company_profile_info">
								<div class="company-up-info">
									<img src="https://thumbs.dreamstime.com/b/ic%C3%B4ne-noire-solide-d-avatar-de-profil-utilisateur-134114292.jpg" alt="">
									<h3>{{profile.user.firstName}}</h3>
									<h4>Graphic Designer</h4>
									<ul>
										<li><a href="#" title="" class="follow">Follow</a></li>
										<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
										<li><a href="#" title="" class="hire-us">Hire</a></li>
									</ul>
								</div>
								<a href="#/user-profile/{{profile.idProfile}}"  class="view-more-pro">View Profile</a>
							</div><!--company_profile_info end-->
						</div>

						<a href="#/profileFeed/{{idUser}}"  class="view-more-pro">My Account</a>
					</div>
				</div><!--companies-list end-->
				
				<div class="process-comm">
					<div class="spinner">
						<div class="bounce1"></div>
						<div class="bounce2"></div>
						<div class="bounce3"></div>
					</div>
				</div>
			</div>
		</section><!--companies-info end-->


	</div><!--theme-layout end-->
